    /* Shared Styles */
    .navbar-brandimage {
      width: 40px;
      height: 40px;
      font-family: "Roboto Flex", sans-serif;
      font-optical-sizing: auto;
    }
    body {
      padding-bottom: 200px; /* For bottom navbar spacing */
    }
    /* Optional Dark Mode Styles */
    .dark-mode {
      background-color: #121212;
      color: #ffffff;
    }
    @media (max-width: 768px) {
      .navbar.fixed-bottom {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 0.8rem;
      }
      .navbar.fixed-bottom .container {
        padding-left: 10px;
        padding-right: 10px;
      }
      .navbar.fixed-bottom ul.navbar-nav li {
        margin: 0 3px;
      }
    }
    
    .dark-mode .navbar, 
    .dark-mode .card, 
    .dark-mode .container {
      background-color: #333333;
      color: #ffffff;
    }
    .dark-mode a {
      color: #9d9d9d;
    }